<h1>Availible Articles</h1>

<ul>
  <li>{{#link-to 'articles.article' '1'}}Article 1{{/link-to}}</li>
  <li>{{#link-to 'articles.article' '2'}}Article 2{{/link-to}}</li>
  <li>{{#link-to 'articles.article' '3'}}Article 3{{/link-to}}</li>
</ul>

<h2>Article {{model.id}}</h2>
