<h3>Buildings</h3>
<ul class='buildings-list'>
  {{#each model as |building|}}
    {{items-list-item content=building class='building' itemRoute='company.building'}}
  {{/each}}
</ul>

{{outlet}}

<button class="btn-useless-qp" {{action "toggleUselessQP"}}>Bloop</button>

