<p>
  {{#link-to 'companies.info'}}
    &lt; Back to Companies
  {{/link-to}}
</p>
<h2>{{model.name}}</h2>
<p>
  <ul class='buildings-list horiz-list'>
    {{#each model.buildingIds as |buildingId|}}
      {{items-list-item content=buildingId class='building-id' itemRoute='company.building'}}
    {{/each}}
  </ul>
</p>

{{outlet}}
